.top-nav-bar {
    display: flex;
    font-size: 13px;
    font-family: sans-serif;
    width: auto;
    padding: 10px;
    justify-content: space-between;
}

/* Top nav bar links are set to be not underlined */
#about-nav, #store-nav, #mail-nav, #images-nav {
    text-decoration: none;
    margin: 5px;
}

/* Setting top bar nav links to always be grey and underlined on hover */

#about-nav:visited , #about-nav:link, #store-nav:visited, #store-nav:link, 
#mail-nav:visited , #mail-nav:link, #images-nav:visited , #images-nav:link {
    color: rgb(56, 54, 54);
}

#about-nav:hover, #store-nav:hover, #mail-nav:hover, #images-nav:hover  {
    text-decoration: underline;
}

/* Setting Sign in button to be blue with white letters */

#sign-btn-nav {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: transparent;
    height: 30px;
    width: 70px;
}

#input-bar {
    position: relative;
    top: 17px;
    width: 500px;
    height: 30px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px 20px;
}

#input-bar:hover {
    box-shadow: 1px 1px 1px 1px grey;
}

.google-buttons {
    padding: 9px;
    color: rgb(104, 104, 104);
    background-color: rgba(236, 236, 236, 0.959);
    border-radius: 5px;
    border-color: transparent;
    margin: 3px;
}

.google-buttons:hover {
    color: black;
    border-color: rgb(209, 209, 209);
}

#main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

#google-letters {
    width: 25%;
    height: 25%;
}

/* Styling bottom navigation bar of homepage */

.bottom-nav-bar {
    display: flex;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 300px;
    justify-content: space-between;
}

/* Bottom nav bar links are set to be not underlined */

#ad-nav , #business-nav, #how-search-nav, #privacy-nav, #terms-nav, #settings-nav {
    text-decoration: none;
    margin: 5px;
}

/* Setting bottom bar nav links to always be grey and underlined on hover */

#ad-nav:visited , #ad-nav:link, #business-nav:visited, #business-nav:link, 
#how-search-nav:visited , #how-search-nav:link, #privacy-nav:visited , #privacy-nav:link ,
#terms-nav:visited, #terms-nav:link, #settings-nav:visited, #settings-nav:link {
    color: grey;
}

#ad-nav:hover, #business-nav:hover, #how-search-nav:hover, #privacy-nav:hover, #terms-nav:hover, #settings-nav:hover {
    text-decoration: underline;
}

/* CSS for icons in homepage: doesn't work yet*/
.gg-search {
    width: 10px;
    height: 10px;
}
