/* Main CSS file for google homepage project */

#main-king {
    font-size: 13px;
    font-family: Arial, sans-serif;
}

/* Top Navigation bar uses CSS Flexbox */
.top-nav-bar {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: sans-serif;
    width: auto;
    padding: 5px;
    justify-content: space-between;
}

/* Top nav bar: positioning links */
ul {
    padding: 0;
}

li {
    display: inline;
}

/* Top nav bar links are set to be not underlined */
#about-nav, #store-nav, #mail-nav, #images-nav {
    text-decoration: none;
    margin: 5px;
}

/* Setting top bar nav links to always be grey and underlined on hover */

#about-nav:visited , #about-nav:link, #store-nav:visited, #store-nav:link, 
#mail-nav:visited , #mail-nav:link, #images-nav:visited , #images-nav:link {
    color: rgb(56, 54, 54);
}

#about-nav:hover, #store-nav:hover, #mail-nav:hover, #images-nav:hover  {
    text-decoration: underline;
}

/* Styling Google Menu grid to be aligned */
#menu-nav {
    position: relative;
    top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

/* Setting Sign in button to be blue with white letters */

#sign-btn-nav {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: transparent;
    height: 30px;
    width: 70px;
}

#google-letters {
    width: 27%;
    height: 27%;
}

#input-bar {
    box-shadow: 0.3s;
    position: relative;
    top: 17px;
    width: 450px;
    height: 40px;
    border: 1px solid rgb(211, 209, 209);
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px 20px;
}

#input-bar:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.google-buttons {
    padding: 9px;
    color: rgb(104, 104, 104);
    background-color: rgba(236, 236, 236, 0.959);
    border-radius: 5px;
    border-color: transparent;
    margin: 3px;
}

.google-buttons:hover {
    color: black;
    border: 1px solid rgb(219, 219, 219);
}

#main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

/* Styling "French" link to be un-underlined */
#offered-text {
    position: relative;
    top: 30px;
}

#french-link {
    text-decoration: none;
}

#french-link:hover {
    text-decoration: underline;
}


/* Styling bottom navigation bar of homepage */
.bottom-nav-bar {
    display: flex;
    background-color: rgb(247, 245, 245);
    padding: 10px;
    font-size: 14px;
    position: relative;
    top: 300px;
    justify-content: space-between;
}

/* Bottom nav bar links are set to be not underlined */

#ad-nav , #business-nav, #how-search-nav, #privacy-nav, #terms-nav, #settings-nav {
    text-decoration: none;
    margin: 5px;
}

/* Setting bottom bar nav links to always be grey and underlined on hover */

#ad-nav:visited , #ad-nav:link, #business-nav:visited, #business-nav:link, 
#how-search-nav:visited , #how-search-nav:link, #privacy-nav:visited , #privacy-nav:link ,
#terms-nav:visited, #terms-nav:link, #settings-nav:visited, #settings-nav:link {
    color: grey;
}

#ad-nav:hover, #business-nav:hover, #how-search-nav:hover, #privacy-nav:hover, #terms-nav:hover, #settings-nav:hover {
    text-decoration: underline;
}

/* CSS for icons in homepage: doesn't work yet*/
.gg-search {
    width: 10px;
    height: 10px;
}
